# Ejercicio de Python

Carga las 3 librerias que hemos visto a lo largo del curso junto con su "apodo"

numpy, pandas y matplotlib

añade al final %matplotlib inline

**Coloca tu nombre y matricula** 

Nombre: Elias Villaseñor Flores

Matricula: 1735689

In [6]:
##### carga las tres librerias (numpy, pandas y matplotlib) 
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

El siguiente comando importa un data frame desde un archivo csv de internet

In [9]:
 ventas = pd.read_csv('https://raw.githubusercontent.com/jimmyzac/Estadistica-Aplicada-FCFM-UANL/main/bases_datos/ventas1.csv')

In [10]:
#mostrar las primeras 5 filas
ventas.head()

    Año      Mes  Ventas  Gastos
0  2015    Enero     160      71
1  2015  Febrero     191     125
2  2015    Marzo     177      72
3  2015    Abril     154      78
4  2015     Mayo     175     110

In [11]:
#mostrar las ultimas 5 filas
ventas.tail()

     Año         Mes  Ventas  Gastos
31  2017      Agosto     167     107
32  2017  Septiembre     197     111
33  2017     Octubre     160      53
34  2017   Noviembre     171      91
35  2017   Diciembre     110      66

ventas es una base de datos que contiene las ventas mensuales de una tienda X para los años 2015, 2016 y 2017

1. Crea una nueva columna que se llame **Ganancias** y que contenga la diferencia entre ventas-gastos

In [15]:
## escribe aqui el código
ventas['Ganancias'] = ventas['Ventas'] - ventas['Gastos']

2. Muestra el dataframe que incluye esta columna

In [14]:
## escribe aqui el código
ventas

     Año         Mes  Ventas  Gastos  Ganancias
0   2015       Enero     160      71         89
1   2015     Febrero     191     125         66
2   2015       Marzo     177      72        105
3   2015       Abril     154      78         76
4   2015        Mayo     175     110         65
5   2015       Junio     143      56         87
6   2015       Julio     109      97         12
7   2015      Agosto     104     100          4
8   2015  Septiembre     176      80         96
9   2015     Octubre     198      51        147
10  2015   Noviembre     120      54         66
11  2015   Diciembre     149     119         30
12  2016       Enero     111      92         19
13  2016     Febrero     198      86        112
14  2016       Marzo     194     101         93
15  2016       Abril     171     102         69
16  2016        Mayo     128      64         64
17  2016       Junio     105     107         -2
18  2016       Julio     172     117         55
19  2016      Agosto     148     110         38
20  2016  Septiembre     134      85         49
21  2016     Octubre     192      70        122
22  2016   Noviembre     156      65         91
23  2016   Diciembre     165     120         45
24  2017       Enero     133     117         16
25  2017     Febrero     128      56         72
26  2017       Marzo     125      89         36
27  2017       Abril     168      52        116
28  2017        Mayo     168      59        109
29  2017       Junio     141     122         19
30  2017       Julio     105      64         41
31  2017      Agosto     167     107         60
32  2017  Septiembre     197     111         86
33  2017     Octubre     160      53        107
34  2017   Noviembre     171      91         80
35  2017   Diciembre     110      66         44

3. Calcula e imprime las ventas totales, gastos totales y ganacias totales de  todo el periodo\
Ejemplo de mensaje= las ventas totales son: \
etc

In [42]:
## escribe aqui el código
Sumas = ventas[['Ventas','Gastos','Ganancias']].sum()
print(f'Las eventas, los gastos y las ganancias totales son de: ', Sumas)

Las eventas, los gastos y las ganancias totales son de:  Ventas       5503
Gastos       3119
Ganancias    2384
dtype: int64

4. Calcula e imprime las ventas promedio, gastos promedio y ganacias promedio del periodo\
Ejemplo de mensaje= las ventas promedio son: \
etc

In [45]:
## escribe aqui el código
Prom = ventas[['Ventas','Gastos','Ganancias']].mean()
print(f'Los promedios de las ventas, gastos y ganancias es de: ', Prom)

Los promedios de las ventas, gastos y ganancias es de:  Ventas       152.861111
Gastos        86.638889
Ganancias     66.222222
dtype: float64

5. Calcula e imprime las ventas promedio de 2015

In [65]:
## escribe aqui el código
##Pista: primero filtra para el año 2015, luego selecciona la columna ventas 
ventas[ventas['Año']==2015]['Ventas'].mean()

154.66666666666666

6. Calcula e imprime las ventas totales  para los 3 meses de enero. Es decir la suma de enero de 2015, enero de 2016 y enero de 2017

In [29]:
## escribe aqui el código
##Pista: primero filtra los meses de enero, luego selecciona la columna ventas

404

7. Calcula las ventas promedio por mes, guardalo en un dataframe y por ultimo muestra ordenado por ventas promedio de menor a mayor

In [15]:
## aqui va tu codigo

            Ventas
Mes
Abril       164.33
Agosto      139.67
Diciembre   141.33
Enero       134.67
Febrero     172.33
Julio       128.67
Junio       129.67
Marzo       165.33
Mayo        157.00
Noviembre   149.00
Octubre     183.33
Septiembre  169.00

https://ichi.pro/es/groupby-en-pandas-su-guia-para-resumir-y-agregar-datos-en-python-82945012778048

El siguiente código importa una base de datos desde internet y lo convierte en data frame  con pandas y se guarda en mtcars

In [5]:

mtcars= pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/mpg.csv')

**Variables de la base de datos:** \
**mpg** Miles/(US) gallon. Millas recorridas con un galón de combustible\
**cylinders** Number of cylinders. Número de cilindros\
**displacement** Displacement (cu.in.). Cilindrada del motor en cm3\
**horsepower** Gross horsepower Potencia del motor en caballos\
**weight** Weight (1000 lbs). Peso del automovil\
**acceleration** qsec 1/4 mile time. Tiempo que tarda en recorrer 1/4 de milla desde parado (Aceleración)\
**model year** año del modelo\
**origin** país de origen\
**name** nombre del vehículo

In [ ]:
## el siguiente codigo nos muestra las primeras cuato observaciones del data frame

8. Ordena lo coches al mismo tiempo por país de origen y rendimiento (mpg)

In [14]:
## aquí va el código

9. Cuenta el número de coches por país de origen
**value_counts()** es una función de pandas que nos ayuda a contar observaciones, usala

In [15]:
### aquí va el código

9. Expresa en porcentaje el número de coches por país de origen 
**value_counts(normalize=True)** es una función de pandas que cuenta las observaciones y las expresa en porcentaje\
utiliza el código anterior para saber el porcentaje de coches que tiene origen en cada país

In [16]:
### aquí va el código

10. Calcula la media de caballos de fuerza por vehiculo y luego filtra la base de datos para aquellos vehiculos que se encuentran por encima de la media de caballos de fuerza y  guardalo en un nuevo dataframe llamado mtcars2


***Pista:** puedes hacerlo en multiples pasos o lineas de código*

In [17]:
## aquí va al código

11. Muestra los 5 coches con mas caballos de fuerza

In [ ]:
## aquí va al código